
<h1 class="mt-4">Usuarios</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">{{ usuario.id ? 'Edição' : 'Cadastro' }}</li>
</ol>
<div class="container">
    <form #usuarioForm="ngForm" (ngSubmit)="onSubmit()">

        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" role="alert" *ngIf="sucesso == true">
                   Usuario salvo/atualizado com sucesso
                </div>
                <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
                    {{ erro }}
                 </div>
            </div>
        </div>

        <div class="row" *ngIf="usuario.id">
            <div class="col-md-6">
                <div class="form-group">
                    <label >ID:</label>
                    <input type="text" class="form-control" disabled="true" [ngModel]="usuario.id" name="id">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label >Data Nascimento:</label>
                    <input type="text" [(ngModel)]="usuario.dataNascimento" name="dataNascimento" class="form-control">
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label >Nome:</label>
                    <input type="text" [(ngModel)]="usuario.nome" name="nome" class="form-control">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label >Telefone:</label>
                    <input type="number" [(ngModel)]="usuario.telefone" name="telefone" class="form-control">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label >CPF:</label>
                    <input type="text" [(ngModel)]="usuario.cpf" name="cpf" class="form-control">
                </div>
            </div>

           
        </div>
        
        <div class="row">
            <div class="col-md-3">
                <button type="submit" class="btn btn-success" *ngIf="!usuario.id" >
                    <i class="fa fa-save"></i> Salvar
                </button>

                <button type="submit" class="btn btn-primary" *ngIf="usuario.id" >
                    <i class="fa fa-sync-alt"></i> Atualizar
                </button>

                <button type="button" class="btn btn-danger ml-2" (click)="voltarParaLista()">
                    <i class="fa fa-arrow-alt-circle-left"></i> Voltar
                </button>
            </div>

        </div>
    </form>
</div>